  <div class="wrapper" (click)="progressBarTapped()" [ngStyle]="{ 'align-items': barJustify }">
    <div class="progressBar">
      <div class="bar" [ngClass]="{ 'shake': isShaking}" [ngStyle]="{ 'width': barWidth, 'justify-self': barJustify }">
        <div class="decoration" *ngIf="barClass === 'gradient'" [innerHTML]="lifeProgressPercentage"></div>
        <div class="decoration" *ngIf="barClass === 'power-gradient'" [innerHTML]="powerProgressPercentage"></div>
        <div class="filling primary {{barClass}}" *ngIf="barClass === 'gradient'" [ngClass]="{ 'critical': dataService.currentLifeProgress() <= 20 }"></div>
        <div class="filling primary {{barClass}}" *ngIf="barClass === 'power-gradient'" [ngClass]="{ 'critical': dataService.currentPowerProgress() >= 80 }"></div>
        <div class="filling secondary gradient"></div>
        <div class="health-mask" *ngIf="barClass === 'gradient'" [ngStyle]="{ 'width': lifeProgress }"></div>
        <div class="health-mask" *ngIf="barClass === 'power-gradient'" [ngStyle]="{ 'width': powerProgressWidth }"></div>
      </div>
    </div>
    <div class="counter" *ngIf="barClass === 'gradient' && dataService.lifeCounterRunning()">100% in: {{ hours() }}h : {{ minutes() }}m : {{ seconds() }}s</div>
  </div>