.seasonModal {
    --height: 50%;
    --width: 95%;
    --border-radius: 16px;
    ion-content::part(scroll) {
        background-image: unset;
    }
    .seasonModalInfo {
        background-color: #a400dd;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h4 {
            color: #fff;
            text-align: center;
            text-transform: uppercase;
        }
    }
}