<ion-content>
  <div class="mcard">
    <img src="../../../assets/img/stars.png" alt="Quick Thinking Badge" class="badge">
    <h1 class="ion-text-center text-clip1 ion-no-margin">Level Up!</h1>
    <p class="ion-text-center ion-no-margin">Congratulations! You've leveled up for your</p>
    <h1 class="ion-text-center text-clip1 ion-no-margin">{{ selectedSkill }} Skill.</h1>
    <button class="blue w-fill ion-margin-horizontal" color="success" (click)="closeModal(null)"><div class="button-text fs1-3rem">OK</div></button>
  </div>
</ion-content>
