.question {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.blue {
    margin: 10px 0;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #4a07f2;
}