<ion-header [translucent]="true">
  <ion-toolbar class="bg-dark">
    <ion-title>Potions Shop</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let product of productBundles">
        <div class="sidebarBox">
          <div class="content">
            <div class="ion-text-center">
              <h4 class="ion-no-margin f900">{{ product.name }}</h4>
              <img alt="coins" src="../../assets/img/{{ product.image }}" class="health-potion-image" />
              <div class="description">{{ product.description }}</div>
              <button class="blue" type="button" (click)="buy(product)">
                <div class="button-text fs1-3rem d-flex ion-align-items-center">
                  <span>Get for {{ product.coins }} </span>&nbsp;&nbsp;<img src="../../assets/img/goldCoin.png"
                    class="goldCoinImg">
                </div>
              </button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>