<div class="sidebarBox" style="position: sticky; z-index: 9999; margin-bottom: 15px">
  <div class="content" style="font-size: 23px; font-weight: bold; text-align: center;">
    Trivia 480 Question Challenge
  </div>
  <div class="toggle"></div>
</div>
<ion-content [fullscreen]="true" class="fixed-bg">

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="river-wrapper">
    <h4 class="empty-list text-clip1 ion-no-margin" *ngIf="showEmptyList && currentSeason!=undefined">The Season Started
      Soon On {{ currentSeason.startDate.toDate() | date:'medium' }}</h4>
    <div class="empty-list ion-text-center" *ngIf="showSpinner">
      <ion-spinner color="danger"></ion-spinner>
    </div>
    <div class="ion-text-center" *ngIf="showRefSpinner">
      <ion-spinner *ngIf="showRefSpinner" color="danger"></ion-spinner>
    </div>
    <ng-container *ngIf="dailyQuestions.length">
      <div class="sidebarBox" *ngFor="let question of dailyQuestions">
        <div class="content">
          <ng-container *ngIf="question.isAnswerdByUser">
            <div class="user-was-answerd" [class.fdrRevers]="!question.answerWasCorrect">
              <span class="time-bonus-badge" *ngIf="question.timeBonus && question.timeBonus>0">&nbsp;⏱ +{{
                question.timeBonus }}s</span>
              <ion-icon *ngIf="question.answerWasCorrect" color="success" name="checkmark-circle"></ion-icon>
              <ion-icon *ngIf="!question.answerWasCorrect" color="danger" name="close-circle"></ion-icon>
            </div>
          </ng-container>
          <div class="dateAndTimeEtc">
            <span>{{ question.date.toMillis() | date }}</span>
          </div>
          <button *ngIf="question.status!='TRY_AGAIN'" [disabled]="question.answerWasCorrect" [class.grey]="question.answerWasCorrect"
            [class.blue]="question.status=='ACTIVE' || question.status=='TRY_AGAIN'" type="button"
            (click)="questionDetail(question, 'none')">
            <div *ngIf="question.status!='TRY_AGAIN'" class="button-text fs1-3rem">Answer</div>
          </button>
          <button *ngIf="question.status=='TRY_AGAIN' && !question.answerWasCorrect && !question.tryAgainGold" [disabled]="question.answerWasCorrect || question.tryAgainGold" [class.grey]="question.answerWasCorrect || question.tryAgainGold"
            [class.blue]="question.status=='TRY_AGAIN'" type="button"
            (click)="questionDetail(question, 'USE_GOLD')">
            <div class="button-text fs1-3rem d-flex ion-align-items-center">
              <span>Try Again For 5 </span>&nbsp;&nbsp;<img src="../../assets/img/goldCoin.png" class="goldCoinImg">
            </div>
          </button>
          <button *ngIf="question.status=='TRY_AGAIN' && !question.answerWasCorrect && !question.tryAgainAd" [disabled]="question.answerWasCorrect || question.tryAgainAd" [class.grey]="question.answerWasCorrect || question.tryAgainAd"
            [class.blue]="question.status=='TRY_AGAIN'" type="button"
            (click)="questionDetail(question, 'WATCH_AD')">
            <div *ngIf="question.status=='TRY_AGAIN'" class="button-text fs1-3rem d-flex ion-align-items-center">
              <span>Watch ad and try again!</span>
            </div>
          </button>
        </div>
        <!-- <div class="toggle"></div> -->
      </div>
    </ng-container>
  </div>

  <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="center" [edge]="true">
    <ion-fab-button (click)="goHome()">
      <ion-icon name="home">ff</ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-content>