<ion-header>
  <ion-toolbar class="bg-dark">
    <ion-buttons slot="start">
      <ion-menu-button class="text-light d-block" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToGoldCoin()">
        <span class="text-light">{{ currentUser && currentUser.lives ? currentUser.lives : 0 }}</span>&nbsp;<img
          src="../../assets/img/heart.png" class="goldCoinImg lives">
      </ion-button>
      <ion-button (click)="goToGoldCoin()">
        <span class="text-light">{{ currentUser && currentUser.totalGoldCoins ? currentUser.totalGoldCoins : 0
          }}</span>&nbsp;<img src="../../assets/img/goldCoin.png" class="goldCoinImg">
      </ion-button>
      <ion-button>
        <span class="text-light d-flex ion-flex-column ion-justify-content-between">
          <span>{{ journeyProgressData?.exp }}</span>
        </span>&nbsp;<img src="../../assets/img/xp1.png" class="goldCoinImg" style="transform: scale(1.1);">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="fixed-bg" scroll-y="false">
  <div class="h-fill d-flex ion-flex-column ion-justify-content-between">
    <div class="row-profile-wrapper">
      <div class="ion-text-right" style="padding-top: 10px;">
        <ion-badge color="tertiary">Go Ad-Free</ion-badge>
      </div>
      <div class="row wrapper">
        <div class="avatar-border">
          <app-avatar *ngIf="currentUser" [currentUser]="currentUser" [canUpload]="true"></app-avatar>
          <!-- <ion-icon name="camera-outline" class="text-dark" (click)="takePhoto()"></ion-icon> -->
        </div>
      </div>
      <div class="row wrapper" style="margin-top: 8px;">
        <div class="player-name text-dark" *ngIf="currentUser">{{ currentUser.displayName }}<!-- Mihai Micsa --></div>
      </div>
      <div class="row wrapper" *ngIf="currentUser">
        <div class="player-level text-dark"><strong>Level {{ journeyProgressData?.level }}</strong> <!-- Geologist -->
        </div>
      </div>
      <div class="health-bar-wrapper">
        <app-progress-bar></app-progress-bar>
      </div>
      <div class="health-bar-wrapper">
        <app-progress-bar [barClass]="'power-gradient'" [barText]="'Power'"></app-progress-bar>
      </div>
    </div>
    <div class="row-btn-wrapper" *ngIf="currentUser">
      <div class="row" [class.dashedBorder]="currentUser.isChallengeStart">
        <div class="row wrapper" style="margin: 5px 0px;" *ngIf="currentUser.isChallengeStart">
          <div class="player-level text-dark"><b>Trivia Challenge Progress</b></div>
        </div>
        <div class="row wrapper" *ngIf="currentUser.isChallengeStart">
          <div class="progressBar">
            <div class="bar">
              <div class="decoration">{{ challengeProgress }}/480</div>
              <div class="filling primary green" [ngStyle]="{ 'width': yProgressWidth() }" *ngIf="challengeProgress>0">
              </div>
              <div class="filling secondary green" *ngIf="challengeProgress>0"></div>
            </div>
          </div>
        </div>
        <div class="row ion-text-center" style="margin: 0.5rem;">
          <button class="large blue" type="button" (click)="goToHowTo()">
            <div class="button-text fs1-3rem">Trivia 480 Questions Challenge</div>
          </button>
          <ion-badge color="light" *ngIf="nextSeason!=undefined">Next Season Starts {{ nextSeason.startDate.toDate() |
            date:'medium' }}</ion-badge>
        </div>
      </div>

      <div class="row" [class.dashedBorder]="currentUser && currentUser.isJourneyStarted">
        <div class="row wrapper ion-margin-top" style="margin: 5px 0px;"
          *ngIf="currentUser && currentUser.isJourneyStarted">
          <div class="player-level text-dark"><b>Level Progress ...</b></div>
        </div>
        <div class="row wrapper" *ngIf="currentUser && currentUser.isJourneyStarted">
          <div class="progressBar">
            <div class="bar" *ngIf="journeyProgressData!=undefined">
              <div class="decoration">{{ journeyProgressData.exp }}<b>/</b>{{journeyProgressData.nextLevelExp}}</div>
              <div class="filling primary green" [ngStyle]="{ 'width': xProgressWidth() }"
                *ngIf="journeyProgressData.exp>0"></div>
              <div class="filling secondary green" *ngIf="journeyProgressData.exp==0"></div>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 0.5rem;">
          <button class="large blue" type="button" (click)="goToGame()">
            <div class="button-text fs1-3rem">Solo Trivia Journey</div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <ion-modal [isOpen]="isModalOpen" class="seasonModal">
    <ng-template *ngIf="currentSeason">
      <ion-content scroll-y="false">
        <div class="seasonModalInfo">
          <h4>The season has not started yet!</h4>
          <h4>The season starts on {{ currentSeason.startDate.toDate() | date }}</h4>
          <ion-button mode="md" color="light" size="small" (click)="setOpen(false)">Close</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>